* {
    padding: 0px;
    margin: 0px;
    border: none;  
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2a2a2a;
    background-color: #fff;
  }
.gathering-body{
   padding: 12px 40px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.gathering-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gathering-title { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 42px;
}
.gathering-title img {
    width: 100%;
}
.gathering-subtitle{  
margin: 2px 0px 20px 0px;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.gathering-bulletproof {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    position: relative;

}
.gathering-images {
    position: absolute;
        top: 50px;
        right: -20px;
        width: 150px;
        margin-right: 8px;
}
.gathering-images img {
    width: 100%;
  
}
.gathering-bulletproof-items {
    display: flex;
    flex-direction: column;
     width: 50vw;
}
.gathering-bulletproof-item_first{
 font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.023%; 
    color: #2A2A2A;
     position: absolute;
        top: 0px;
       left: 0px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 340px;
        max-height: 50px;   
}
 .gathering-images{
        position: relative;
       }
.gathering-bulletproof-item_second {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.023%; 
    color: #2A2A2A;  
     position: absolute;
          top: 50px;
        width: 182px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
        
}

@media screen and (min-width: 562px){
    .gathering-body{
        padding: 80px 24px;
    }
    .gathering-title { 
        width: 142px;
    }
    .gathering-subtitle{
        font-size: 16px;
        margin: 20px 0px;
     }
    
     .gathering-bulletproof-item_first,
     .gathering-bulletproof-item_second{
        position: relative;
             width: 249px;
        text-align: left;
         font-size: 16px;
     }
     .gathering-bulletproof-item_first{

        width: 249px; 
        height: 133px;       
     }
     .gathering-bulletproof-item_second{
      margin-top: 20px;  
     }
     .gathering-images {
        position: relative;
       
        width: 249px;
        margin-left: 16px;
     }
     .gathering-bulletproof {
        display: flex;
        justify-content: center;
        align-items: center;
        }
}


@media screen and (min-width: 768px){
     .gathering-body{
    padding: 80px 60px;
}
.gathering-images{
    width: 361px;
}
.gathering-bulletproof-item_first,
     .gathering-bulletproof-item_second{
        width: 266px;
     }
     .gathering-bulletproof-items{
        align-items: center;
       }
}


@media screen and (min-width: 1024px){
    .gathering-body{
        padding: 100px 140px;
    }
    .gathering-bulletproof-item_first,
     .gathering-bulletproof-item_second{
        width: 362px;
        line-height: 132.023%;
     }
     .gathering-bulletproof-item_second{
        margin-top: 0px;  
       }
       .gathering-bulletproof-items{
        align-items: center;
       }
}


@media screen and (min-width: 1680px){
    .gathering-body{
        padding: 100px 200px;
    }
    .gathering-images{
        margin-left: 80px;
         width: 599px; 
     }
     .gathering-bulletproof-item_first,
     .gathering-bulletproof-item_second{
        width: 561px;
        font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 132.023%;
     }
}
