.thanksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.image {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../../../images/thanksImage.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 16px;

  @media screen and (min-width: 562px) {
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.title {
  display: block;
  width: 160px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;

  @media screen and (min-width: 562px) {
    width: 220px;
    font-size: 24px;
  }
  @media screen and (min-width: 768px) {
    width: 290px;
    font-size: 32px;
    line-height: 132.023%;
  }
  @media screen and (min-width: 1024px) {
    width: 360px;
    line-height: normal;
    font-size: 40px;
  }
}

.hands {
  width: 178px;
  height: 101px;

  background-image: url(../../../images/thanksHands.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;

  @media screen and (min-width: 562px) {
    width: 320px;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.button {
  display: block;
  width: 268px;
  height: 42px;

  font-size: 16px;
  font-weight: 600;
  line-height: 16px;

  border-radius: 8px;
  background: #f5dd00;

  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff7ac;
  }

  @media screen and (min-width: 562px) {
    width: 404px;
    height: 66px;

    font-size: 24px;
    line-height: 26px;
  }
}
