.heading_container {
  position: relative;
  width: fit-content;
}

.heading {
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading._primary {
  background-image: url('../../images/bg_heading_primary.png');
  font-size: 100px;
  font-weight: 800;
  background-size: 1080px 522px;
  background-position-y: -52px;
  background-position-x: -65px;
}

.heading._secondary {
  background-image: url('../../images/bg_geading_secondary.png');
  font-size: 60px;
  font-weight: 600;
  background-size: 620px 148px;
  background-position-y: -36px;
  background-position-x: -65px;
}

.heading_stroke {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000;
  z-index: 0;
  top: 0;
}

.heading_stroke._primary {
  font-size: 100px;
  font-weight: 800;
}

.heading_stroke._secondary {
  font-size: 60px;
  font-weight: 600;
}
