.font {
  color: #2a2a2a;
}

._main {
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 1679px) {
  ._main {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  ._main {
    font-size: 16px;
  }
}

@media (max-width: 561px) {
  ._main {
    font-size: 12px;
  }
}
