.text {
  color: #2a2a2a;

  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: 562px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 24px;
  }
}

.header {
  border: 1px solid red;
}
