.title {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;

  @media screen and (min-width: 562px) {
    margin-bottom: 20px;
  }
}

.content_container {
  height: 230px;
  position: relative;

  @media screen and (min-width: 562px) {
    height: 362px;
  }

  @media screen and (min-width: 1680px) {
    height: 574px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

.howItWorks_button {
  position: absolute;

  top: 34px;
  left: 0px;

  @media screen and (min-width: 562px) {
    top: 50px;
  }

  @media screen and (min-width: 1680px) {
    top: 90px;
  }
}

.firstArrow {
  position: absolute;
  background-image: url(../../../images/firstArrow_420.png);
  width: 60px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  top: 40%;
  left: 20%;

  @media screen and (min-width: 562px) {
    background-image: url(../../../images/firstArrow_562.png);
    width: 120px;
    height: 120px;

    top: 40%;
    left: 10%;
  }

  @media screen and (min-width: 1024px) {
    left: 15%;
  }

  @media screen and (min-width: 1680px) {
    background-image: url(../../../images/firstArrow_1680.png);
    width: 180px;
    height: 190px;
  }
}

.secondArrow {
  position: absolute;
  background-image: url(../../../images/secondArrow_420.png);
  width: 60px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  bottom: 27%;
  right: 20%;

  @media screen and (min-width: 562px) {
    background-image: url(../../../images/secondArrow_562.png);
    width: 120px;
    height: 120px;

    bottom: 27%;
    right: 10%;
  }

  @media screen and (min-width: 768px) {
    right: 15%;
  }

  @media screen and (min-width: 1680px) {
    background-image: url(../../../images/secondArrow_1680.png);
    width: 180px;
    height: 195px;

    bottom: 20%;
  }
}

.man {
  position: absolute;
  background-image: url(../../../images/man_420.png);
  width: 95px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  top: 0px;
  right: 0px;

  @media screen and (min-width: 562px) {
    background-image: url(../../../images/man_562.png);
    width: 162px;
    height: 132px;
  }

  @media screen and (min-width: 1680px) {
    background-image: url(../../../images/man_1680.png);
    width: 305px;
    height: 245px;
  }
}

.bulletprufer {
  position: absolute;
  background-image: url(../../../images/bulletprufer_420.png);
  width: 95px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 562px) {
    background-image: url(../../../images/bulletprufer_562.png);
    width: 162px;
    height: 180px;
  }

  @media screen and (min-width: 1680px) {
    background-image: url(../../../images/bulletprufer_1680.png);
    width: 230px;
    height: 230px;
  }
}
