.shareButton {
  position: relative;
  display: block;

  width: 171px;
  height: 34px;

  font-size: 12px;
  font-weight: 600;

  background-color: #f5dd00;
  border-radius: 12px;

  transition: all 200ms ease-in-out;
}

.shareButton::before {
  content: "";
  position: absolute;
  display: block;

  background-image: url("../../../images/IMG_4493.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 66px;
  height: 66px;
  bottom: -47px;
  left: -27px;
}

.shareButton::after {
  content: "";
  position: absolute;
  display: block;

  background-image: url("../../../images/IMG_4494.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 63px;
  height: 115px;
  bottom: -75px;
  right: -40px;
}

.shareButton:hover {
  width: 218px;
  height: 38.5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.shareButton_clicked {
  width: 218px;
  height: 38.5px;
  background-color: #fff7ac;
}

@media screen and (min-width: 768px) {
  .shareButton {
    width: 325px;
    height: 66px;

    font-size: 24px;
    font-weight: 600;
  }

  .shareButton::before {
    width: 85px;
    height: 86px;

    bottom: -40px;
    left: -45px;
  }

  .shareButton::after {
    width: 130px;
    height: 230px;

    bottom: -150px;
    right: -100px;
  }

  .shareButton:hover {
    width: 448px;
    height: 76px;
  }

  .shareButton_clicked {
    width: 448px;
    height: 76px;
  }
}
