.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    padding: 0 265px 0 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    background: white;
    height: 474px;
  }
}

.modal-content::before {
  content: url("../../../images/Vector8.svg");
  position: relative;
  top: 345px;
  left: -266px;
}

.modal-content::after {
  content: url("../../../images/Vector7.svg");
  position: relative;
  top: -123px;
  left: 594px;
}

.socials {
  width: 538px;
  text-align: center;
}

.socials p {
  padding: 16.5px 0 16.5px 0;
  margin-bottom: 50px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 12px;
}

.socials p:nth-child(1) {
  background-color: #0666a6;
}

.socials p:nth-child(2) {
  background-color: #007ebb;
}

.socials p:nth-child(3) {
  background-color: #7c529e;
  margin-bottom: 0;
}

.modal button {
  position: relative;
  top: -200px;
  left: 1045px;
}

@media (max-width: 1680px) {
  .modal {
    .modal-content {
      padding: 0 200px 0 200px;
      height: 422px;
    }
  }
  .socials {
    width: 362px;
  }
  .socials p {
    padding: 10px 0 10px 0;
    font-size: 20px;
  }
  .modal button {
    left: 740px;
    top: -170px;
  }
  .modal-content::before {
    content: url("../../../images/Vector8_1024.svg");
    top: 325px;
    left: -201px;
  }

  .modal-content::after {
    content: url("../../../images/Vector7_1024.svg");
    top: -75px;
    left: 408px;
  }
}

@media (max-width: 1024px) {
  .modal {
    .modal-content {
      padding: 0 143px 0 143px;
    }
  }
  .modal-content::before {
    content: url("../../../images/Vector8_768.svg");
    top: 317px;
    left: -144px;
  }
  .modal-content::after {
    content: url("../../../images/Vector7_768.svg");
    top: -29px;
    left: 375px;
  }
  .modal button {
    top: -177px;
    left: 630px;
  }
  .socials p {
    margin-bottom: 37px;
  }
}

@media (max-width: 768px) {
  .modal {
    .modal-content {
      padding: 0 80px 0 80px;
    }
  }
  .modal button {
    left: 505px;
  }
  .modal-content::before {
    content: url("../../../images/Vector8_562.svg");
    top: 345px;
    left: -80px;
  }
  .modal-content::after {
    content: url("../../../images/Vector7_562.svg");
    top: -38px;
    left: 320px;
  }
  .socials p:nth-child(3) {
    margin-bottom: 45px;
  }
}

@media (max-width: 562px) {
  .modal {
    .modal-content {
      padding: 0 40px 0 40px;
      height: 335px;
    }
  }
  .modal button {
    top: -140px;
    left: 326px;
  }
  .modal-content::before {
    content: url("../../../images/Vector8_420.svg");
    top: 247px;
    left: -40px;
  }
  .modal-content::after {
    content: url("../../../images/Vector7_420.svg");
    top: 11px;
    left: 204px;
  }
  .socials {
    width: 260px;
  }
  .socials p {
    font-size: 16px;
    margin-bottom: 17px;
  }
  .socials p:nth-child(3) {
    margin-bottom: 0;
  }
}
