.form {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  border-radius: 12px;

  padding: 129px 40px 56px 40px;

  &::before {
    content: "";
    width: 120px;
    height: 120px;

    display: block;
    position: absolute;

    top: -5%;
    left: -15%;

    background-image: url(../../../images/donateLeftHand.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: "";
    width: 120px;
    height: 120px;

    display: block;
    position: absolute;

    top: -5%;
    right: -15%;

    background-image: url(../../../images/donateRightHand.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (min-width: 562px) {
    padding: 168px 65px 68px 65px;

    &::before {
      top: 2%;
      left: -6%;
    }

    &::after {
      top: 2%;
      right: -6%;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 200px 84px 76px 84px;

    &::before {
      width: 160px;
      height: 160px;

      top: 2%;
      left: -10%;
    }

    &::after {
      width: 160px;
      height: 160px;

      top: 2%;
      right: -10%;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 200px 130px 84px 130px;

    &::before {
      width: 180px;
      height: 180px;

      top: -5%;
      left: -10%;
    }

    &::after {
      width: 180px;
      height: 180px;

      top: -5%;
      right: -10%;
    }
  }

  @media screen and (min-width: 1680px) {
    padding: 200px 300px 78px 300px;

    &::before {
      width: 250px;
      height: 250px;

      top: -5%;
      left: 0;
    }

    &::after {
      width: 250px;
      height: 250px;

      top: -5%;
      right: 0;
    }
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;

  @media screen and (min-width: 562px) {
    margin-bottom: 24px;
  }
}

.button {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;

  display: block;
  width: 76px;
  height: 40px;

  border-radius: 8px;
  border: 1px solid #f5dd00;

  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff7ac;
  }

  @media screen and (min-width: 562px) {
    font-size: 20px;

    width: 105px;
    height: 62px;
  }

  @media screen and (min-width: 768px) {
    width: 140px;
  }
}

.input {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;

  display: block;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #f5dd00;
  padding: 0 20px;
  margin-bottom: 32px;

  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff7ac;
  }

  @media screen and (min-width: 562px) {
    margin-bottom: 48px;
    height: 62px;
    font-size: 20px;
  }
}

.submit {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: block;
  width: 182px;
  height: 43px;

  border-radius: 8px;
  background-color: #f5dd00;

  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff7ac;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../../images/IMG_4447_420.svg);
    width: 70px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all 200ms ease-in-out;

    top: -20px;
    left: -20px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../../../images/IMG_4446_420.svg);
    width: 45px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all 200ms ease-in-out;

    bottom: -22px;
    right: 0px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff7ac;
  }

  @media screen and (min-width: 562px) {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;

    width: 279px;
    height: 66px;

    border-radius: 12px;

    &::before {
      width: 105px;
      height: 82px;

      top: -32px;
      left: -27px;
    }

    &::after {
      width: 65px;
      height: 88px;

      bottom: -35px;
      right: 0px;
    }

    &:hover,
    &:focus {
      font-size: 28px;

      width: 321px;
      height: 72px;

      background-color: #f5dd00;

      &::before {
        width: 120px;
        height: 92px;

        top: -35px;
        left: -30px;
      }

      &::after {
        width: 75px;
        height: 102px;

        bottom: -40px;
        right: 0px;
      }
    }
    &:focus {
      background-color: #fff7ac;
    }
  }
}
