.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerHead {
  position: relative;
  text-align: center;
  width: 590px;
  height: 90px;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0 0.4px 0.4px #000000;
  margin-bottom: 30px;
}

.footerRights {
  font-size: 20px;
  text-align: center;
  padding-top: 140px;
  margin-bottom: 8px;
}

@media (max-width: 1679px) {
  .footerHead {
    width: 310px;
    font-size: 24px;
  }

  .footerRights {
    font-size: 14px;
  }
}

@media (max-width: 561px) {
  .footerHead {
    width: 260px;
    font-size: 20px;
  }

  .footerRights {
    font-size: 12px;
    padding-top: 65px;
  }
}
