.buttonContainer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate {
  width: 279px;
  height: 66px;
  background-color: #f5dd00;
  color: #2a2a2a;
  border-radius: 12px;
  font-size: 26px;
}

.buttonContainer::before {
  content: url('../../images/IMG_4447.svg');
  position: relative;
  left: 76px;
  top: -22px;
  z-index: 1;
}

.buttonContainer::after {
  content: url('../../images/IMG_4446.svg');
  position: relative;
  top: 28px;
  left: -65px;
}

.donate:hover {
  width: 321px;
  height: 76px;
  filter: drop-shadow(4px 4px 12px #000000);
}

.donateButton_clicked {
  width: 321px;
  height: 76px;
  background-color: #fff7ac;
}

@media (max-width: 768px) {
  .donate {
    width: 182px;
    height: 43px;
    font-size: 17px;
  }
  .buttonContainer::before {
    content: url('../../images/IMG_4447_768.svg');
    position: relative;
    left: 49px;
    top: -13px;
    z-index: 1;
  }

  .buttonContainer::after {
    content: url('../../images/IMG_4446_768.svg');
    position: relative;
    top: 19px;
    left: -47px;
  }

  .donate:hover {
    width: 205px;
    height: 49px;
  }

  .donateButton_clicked {
    width: 205px;
    height: 49px;
  }
}

@media (max-width: 562px) {
  .donate:hover {
    width: 182px;
    height: 43px;
    filter: drop-shadow(0 0 0 #ffffff);
  }
  .donateButton_clicked {
    width: 182px;
    height: 43px;
  }
}

@media (max-width: 420px) {
  .donate {
    width: 134.94px;
    height: 32.35px;
    font-size: 12.6px;
  }
  .buttonContainer::before {
    content: url('./src/images/IMG_4447_420.svg');
    position: relative;
    left: 37px;
    top: -9px;
    z-index: 1;
  }

  .buttonContainer::after {
    content: url('./src/images/IMG_4446_420.svg');
    position: relative;
    top: 15px;
    left: -37px;
  }

  .donate:hover {
    width: 134.94px;
    height: 32.35px;
    filter: drop-shadow(0 0 0 #ffffff);
  }

  .donateButton_clicked {
    width: 134.94px;
    height: 32.35px;
  }
}
